<h1>BadgMe Privacy Policy</h1>

<p>BadgMe may collect personal user preference information (such as items clicked), to be used for internal research purposes.</p>

<p>Information BadgMe collects may be aggregated across all users in order to determine and target demographics for marketing and advertising purposes. All user information stored by BadgMe is considered confidential and will not be shared with outside parties.</p>

<p>BadgMe reserves the right to change this policy at any time by notifying users on http://apps.facebook/com/badg-me or by email</p>